<div class="col-md-3 col-md-offset-2">
  <div class="side row">
    <div class="col-sm-12">
      <h1><a href="/">HOME</a></h1>
    </div>
  </div>

  <div class="side row">
    <div class="col-sm-12">
      <form action="/add_number" method="POST">
        <h1>Add Number</h1>
        <div class="form-group">
          <label for="number">New Number:</label>
          <input class="form-control" id="number" name="number">
        </div>
        <div class="form-group">
          <label for="type">Type:</label>
          <input class="form-control" id="type" name="type">
        </div>
        <input type="hidden" name="id" value="<%= @id %>">
        <button class="btn btn-primary" type="submit">add</button>
      </form>
    </div>
  </div>

  <div class="side row">
    <div class="col-sm-12">
      <form action="/delete_contact" method="POST">
        <h1>Delete Contact</h1>
        <p>This will delete the contact from your list!</p>
        <input type="hidden" name="id" value="<%= @id %>">
        <button class="btn btn-danger" type="submit">delete</button>
      </form>
    </div>
  </div>


</div>

<div class="main col-md-6">
  <h1><%= @name %> </h1>
  <ul>
    <% @numbers.each() do |number| %>
    <li><i><%= number.type() %> </i><%= number.number() %> <a href="/number/<%= number.id() %>/<%= @id %>">[edit]</a> </li>
    <% end %>
  </ul>

</div>
